{% extends "MiApp/base.html" %}
{% load static %}

{% block seccion1 %}
<section class="cid-rv2O8Gg1vh" id="content10-2r">

    

    <div class="mbr-overlay" style="opacity: 0.3; background-color: rgb(255, 255, 255);"></div>

    <div class="container align-left">
        <div class="row">
            <div class="col-md-6 col-lg-6">
                <h1 class="mbr-section-title mbr-semibold pb-3 mbr-fonts-style display-5">

                    Hola, soy Alejandro Nicolás</h1>

                <p class="mbr-text pb-3 mbr-fonts-style display-7">Desarrollador de multiples aplicaciones con experiencia en diferentes lenguajes.</p>

                <div class="pt-3">
                    <h3 class="mbr-section-subtitle align-left mbr-light pb-2 mbr-fonts-style display-7">
                        Sobre mi</h3>
                    <p class="mbr-text pb-3 mbr-fonts-style display-7">Diseñador multidisciplinario con más de 30 años de experiencia
                         en el diseño de soluciones informáticas, ávido lector, hincha de River.
                        </p>
                </div>

                <div class="pt-3">
                    <h3 class="mbr-section-subtitle align-left mbr-light pb-2 mbr-fonts-style display-7">
                        Algunos Conocimientos</h3>
                    <p class="mbr-text pb-3 mbr-fonts-style display-7">- Assembler 
                        <br>- Cobol
                        <br>- Fortram
                        <br>- basic
                        <br>- FoxPro
                        <br>- Visual FoxPro
                        <br>- Visual basic
                        <br>- C
                    </p>
                </div>

                <div class="pt-3">
                    <h3 class="mbr-section-subtitle align-left mbr-light pb-2 mbr-fonts-style display-7">
                        Actualmente Aprendiendo </h3>
                    <p class="mbr-text pb-3 mbr-fonts-style display-7">- JavaScript
                        <br>- React JS
                        <br>- Python
                        <br>- Técnicas de Backend 
                    </p>
                </div>



            </div>


        </div>
    </div>
</section>
{% endblock seccion1 %}