{% extends 'MiApp/base.html' %}

{% load static %}

{% block title %} Alta Producto {% endblock title %}

{% block seccion1 %}
    


<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="mx-auto"> 
        <div>Nombre: {{ form.nombre }}</div>
        <div>Categoría: {{ form.categoria }}</div>
        <div>Precio $: {{ form.precio }}</div>
        <div>Descripción: {{ form.descrip }}</div>
        <div>Imagen: {{ form.imagen }}</div>   
        <input type="submit" value="Alta">
    </div>
</form>




{% endblock seccion1 %}


